body {
  font-family: 'Roboto', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

header nav{
  background-color: #1eb160;
}
nav .navbar-light .yellow{
  color: white;
}
nav.navbar-light li a{
  color:white
}

.navbar-nav > li >.dropdown-menu{
  background-color: #1eb160;
  color: white;
}
.navbar-nav>li>.dropdown-menu a{
  color: white;
}
.navbar-nav > li >.dropdown-menu a:hover{
  background-color: #ffd800 ;
  color: black;
}

nav .navbar-nav li a:hover{
  background-color: #ffd800;
}
#collapsable-nav .navbar-nav li a.show{
  background-color: #ffd800;
  color: black;
}

#collapsable-nav .nav-link:hover{
  color: black;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 216, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-toggler.navbar-toggler {
  border-color: #ffd800;
}

.custom-toggler.navbar-toggler:focus {
  box-shadow: none;
}

#collapsable-nav .active {
  background-color: #ffd800;
  color: black;
}


/* START ITEM-SNIPPET PAGE */

.item-breadcrumb span:not(:last-of-type){
  margin: 0 10px;
  color: #1eb160;
}

.item-breadcrumb a{
  color: #1eb160;
  text-decoration: none;
}

.breadcrumb a:hover{
  text-decoration: underline;
}

/* END ITEM-SNIPPET PAGE */